HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/start.sh
/src/main/kotlin/julius/core/requests/someRequests.http
/.jpb/*.xml

###
gradle-wrapper*
/src/main/kotlin/start.sh
/src/main/py/data/testdata.manual.2009.06.14.csv
/src/main/py/data/training.1600000.processed.noemoticon.csv
